body {
    background-color: whitesmoke;
  }

nav {
    background-color: hsl(263, 100%, 23%);
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-decoration: underline bold whitesmoke;
}

.form {
    font-family: Arial, Helvetica, sans-serif
    font-size: 12pt;
    font-weight: bold;
    color: rgb(78, 22, 78);
}

.form-header {
    font-family: Arial, Helvetica, sans-serif
    font-size: 20pt;
    font-weight: bold;
}

a {
    color:hsl(264, 64%, 81%)
}

#article-img {
    width: 300px;
}


div {
    column-width: 600px;
}

p {
    font-family: 'Roboto', sans-serif; 
    font-size: 14pt;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20pt; 
    font-weight: bold;
}

h2  {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16pt; 
    font-weight: bold;
}

h3  {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 16pt; 
}

h4  {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 14pt; 
}